@use 'variaveis';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: variaveis.$bgHeader;

    &__links {
        display: flex;

        &__item {
            margin: 0 8px;

            a {
                color: variaveis.$textColor;
                text-decoration: none;
                font-weight: bold;
                transition: all .2s;
                &:hover{
                font-size: 18px;
                }
            }
        }
    }
}

#btn-menu {
    display: none;
}

@media(max-width:450px){
    #btn-menu{
        display: block;
        padding: 8px 16px;
        border-radius: 5px;
        color: #ccc;
        background-color: variaveis.$bgAbout;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
    }

    .header__links {
        position: absolute;
        top: 110px;
        left: 0px;
        display: block;
        background-color: variaveis.$bgHeader;
        width: 100%;
        z-index: 100;
        transition: .5s;
        overflow-y: hidden;
        visibility: hidden;
        height: 0px;
        &__item{
            padding: 10px 0;
            margin-left: 20px;
            border-bottom: 1px solid rgba(1,1,1,.7);
        }

        &.ativo {
            visibility: visible;
            height: calc(45vh - 110px);
            overflow-y: auto;
        }
    }
}